body {
  background: rgb(13, 33, 72);
  background-image: url(https://raw.githubusercontent.com/juliepoulain/my-personal-website/main/Images/space-background.jpg);
  max-width: 650px;
  margin: auto;
  text-align: center;
  color: rgb(0, 0, 0);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

a {
  color:rgb(42, 122, 243);
  font-weight: bold
}
.button {
  color:rgb(68, 0, 132)
}
#toptitle {
  font-size: 65px;
}
#subtitle {
  font-size: 35px;
}
#topheader {
  background: #ffffff;
  opacity: 50%;
  margin-block-start: 60px;
  margin-block-end: 10px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px
}
#topdesc {
  background: #ffffff;
  opacity: 50%;
  margin-block-start: 60px;
  margin-block-end: 10px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 40px;
  padding-right: 40px;
  font-size: 13px
}